ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

li {
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    background-color: #ffffff;
}
li:hover{
    background-color: #96cfff;
    color: #e77d3e;
}

nav {
    background-color: #e77d3e;
    margin-top: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    outline: none;
    color:#e77d3e;
}
a:visited {
    color:rgb(159, 204, 232);
}

a:active {
    color: #96cfff;
}
a:hover {
    color: #e77d3e;
}

header {
    text-align: center;
    background-color: #e2e2e2;
}

img {
    width: 32%;
    padding-left: 0.8%;
}

main {
    margin: 5% 5%;  
    background-color: #e2e2e2;
    /* border: 1px solid grey;
    padding: 15px; */
}

footer {
    margin: 5% 5%;
    background-color: #e77d3e;
    color: white;
    padding: 15px;
}

footer a {
    color:#96cfff
}



body {
    font-family: Helvetica, sans-serif;
    font-size: large;
}

p {
    line-height: 200%;
    
}

h1 {
    font-family: 'Franklin Gothic Medium';
    color: #e77d3e;
    text-align: center;
    font-size: 30px;
}

